* {

  font-family: 'Karla', sans-serif;

}

.fixed {
	position: fixed;
	top: 0;
	height: 50.1563px;
	z-index: 1;
}

.nav-wrapper {
  height: 51px;
}

@media screen and (max-width: 5000px){
    .navbar-default{
        background: white;
        border: 1px;
        width: 100%;
        padding-left: 20px;
        height: 51px;
    }
    .navbar-collapse{
        background:#f5f5f5;
    }
    .navbar-collapse.collapse{
        display: none!important;
        height: 0!important;
        padding-bottom: 0;
        overflow: hidden!important;
    }
    .navbar-toggle.collapsed{
        display:block!important;
    }
    .navbar-toggle{
        display:block!important;
    }
    .navbar-collapse.collapse.in{
        display:block!important;
        height:auto!important;
        overflow:visible!important;
    }
    .navbar-nav>li,.navbar-header{
        float:none;
    }
    .navbar-default .navbar-toggle.collapsed{
        background:#fff;
    }
}

.headline {
  font-size: 4rem;
  margin-top: -1rem;
}

.main-image-container.col-xs-12 {
  background-image:
          linear-gradient( to top left, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 65, 126, 0.8), rgba(0, 65, 106, 0.7), rgba(3, 65, 106, .7),rgba(3, 81, 117, 0.2), rgba(3, 81, 117, 0.2)),
          url('https://s3.amazonaws.com/verbalvisual/image1.jpg');
          min-height: 100%;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 28rem;
  padding-top: 14rem;
  height: 100%;

}

#clear-panel {
  font-weight:100;
  color: white;
  padding: 2rem;
  width: 36%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;


}

.faded-panel {
  html, body {
    width: 100%;
    height: 100%;
  }
