* {

  font-family: 'Karla', sans-serif;

}

a.navbar-brand {
  color: blue;

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {



row.first-section {
width: 100%;
}


.parallelogram {
display: none !important;
visible: hidden;
}

.second-image-container{
  background-size: contain !important;
  background-repeat: no-repeat;
}


}



div.footer.col-xs-12.col-md-12 {
  text-align: center;
  display: inline-block;
  float: none;
  margin: 0 auto;

}

.second-image-container {
  background-image: url('https://s3.amazonaws.com/verbalvisual/image2.jpg');
  background-size: cover;
  background-repeat: none;
  height: 50rem;
  width:auto;

}


.parallelogram {

	-webkit-transform: skew(25deg);
	   -moz-transform: skew(25deg);
	     -o-transform: skew(25deg);
	background: none;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  width: 80rem;
  height:60rem;
  margin-top: -5rem;
  margin-bottom: -5rem;
  margin-left: 5rem;
}

.second-section {
  margin-bottom: 40rem;
}



.btn-button-name, .btn-button-name:link, .btn-button-name:visited {
      background-color: transparent;
      border-radius: 0;
      color: white;
      border: 2px solid white;
      width: 16rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-right: 1rem;

  }

.btn-button-name:active, .btn-button-name:hover {
      background-color: #3f6fa0;
      color: white;
  }

.fixed {
	position: fixed;
	top: 0;
	height: 50.1563px;
	z-index: 1;
}

.nav-wrapper {
  height: 51px;
}


.arrow {
   z-index: 1;
   top: 46rem;
   position: relative;
   text-align: center;
   margin-left: 50%;
   margin-right: 50%;
}


.second-section-header {
  margin-top: 5rem;
  margin-bottom: 4rem;
  text-align: center;

}
@media screen and (max-width: 5000px){
    .navbar-default{
        background: white;
        border: 1px;
        width: 100%;
        padding-left: 20px;
        height: 51px;
    }
    .navbar-collapse{
        background:#f5f5f5;
    }
    .navbar-collapse.collapse{
        display: none!important;
        height: 0!important;
        padding-bottom: 0;
        overflow: hidden!important;
    }
    .navbar-toggle.collapsed{
        display:block!important;
    }
    .navbar-toggle{
        display:block!important;
    }
    .navbar-collapse.collapse.in{
        display:block!important;
        height:auto!important;
        overflow:visible!important;
    }
    .navbar-nav>li,.navbar-header{
        float:none;
    }
    .navbar-default .navbar-toggle.collapsed{
        background:#fff;
    }
}

.headline {
  font-size: 4rem;
  margin-top: -1rem;
}

.main-image-container.col-xs-12 {
  background-image:
          linear-gradient( to top left, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 65, 126, 0.8), rgba(0, 65, 106, 0.7), rgba(3, 65, 106, .7),rgba(3, 81, 117, 0.2), rgba(3, 81, 117, 0.2)),
          url('https://s3.amazonaws.com/verbalvisual/image1.jpg');
          min-height: 100%;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 27rem;
  padding-top: 14rem;
  height: 100%;

}

#clear-panel {
  font-weight:100;
  color: white;
  padding: 2rem;
  width: 36%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;


}

.faded-panel {
  html, body {
    width: 100%;
    height: 100%;
  }
