
.main-image-container.col-xs-12 {
  background-image:
          linear-gradient( to top left, rgba(0, 0, 0, 1), rgba(0, 33, 90, 0.5)),
          url('https://s3.amazonaws.com/verbalvisual/image1.jpg');
          min-height: 100%;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 10rem;
  padding-top: 12rem;


}

#clear-panel {
  font-weight:100;
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;


}

.faded-panel {
  html, body {
    width: 100%;
    height: 100%;
  }
